{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {symqai, "0.1.0"},[mqttlib,sasl]},

        {mode, dev},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.

{profiles, [{prod, [{relx,
                     [
                        {mode, prod}
                     ]
            }]}]}.
